* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'EB Garamond', serif;
}

/* Nav */

nav {
    font-size: 15px;
    width: 100%;
    height: 50px;
    background-color: #073B4C;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #FFF;

}

nav ul {
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.5s;
}

nav ul li a:hover {
    color: #AAA;
}


.logo {
    margin-left: 20px;
    width: 100px;
}



.logout-button {
    text-decoration: none;
    font-size: 15px;
    border: none;
    padding: 5px;
    border-radius: 3px;
    background-color: transparent;
    color: #FFF;
    transition: 0.3s;
}

.logout-button:hover {
    transition: 0.3;
    color: #ff4d4d;
}

/* Footer */
footer {
    background-color: #073B4C;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer-icon {
    color: #984447;
    font-size: 20px;
    margin: 10px;
}

/* Home page Hero */

.hero {
    height: 100vh;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 4rem;
    color: #2c1b07;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #d66d70
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero-button {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #fff;
    border: 1px solid #073B4C;
    border-radius: 2px;
    color: #073B4C;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-button:hover {
    background-color: #073B4C;
    color: #fff;
}

.hero-button:hover .no-style-link {
    color: #fff;
}

/* Login and Register forms */

.login-register-container {
    /* background-image: linear-gradient(rgba(6, 9, 30, 0.6),rgba(3, 9, 30, 0.8)),url(./public/background.jpg);
    background-position: center;
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

form {
    background-color: rgba(255, 255, 255, 0.5);
    width: 400px;
    max-width: 600px;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid #073B4C;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #984447;
}

form input,
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #073B4C;
    background-color: #E8F0FE;
    color: #2c1b07;
}

form .error {
    margin-bottom: 20px;
    font-size: 14px;
    color: #984447;
}

form button[type="submit"] {
    border-radius: 3px;
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #e49e4e;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    float: right;
    margin-top: 10px;
}

form button[type="submit"]:hover {
    background-color: #118ab2;
}


/* Users section */

.users-page {
    min-height: 100vh;
    height: auto;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.users-page h1 {
    font-size: 4rem;
    color: #2c1b07;
    font-weight: bold;
    margin-bottom: 20px;
}

.users-page h2 {
    font-size: 1.3rem;
    margin-bottom: 30px;
    font-weight: lighter;
}



.user-card {
    background-color: #ffffff;
    box-shadow: 1px 1px 0px 1px #CCC;
    width: 80%;
    border: 1px solid #073B4C;
    border-radius: 10px;
    min-height: 50px;
    padding: 10px;
    margin: 10px auto;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    ;
}

.user-card:hover {
    background-color: #EEE;
    box-shadow: 1px 1px 0px 1px #AAA;

}

.add-friend {
    color: #11b259;
    transform: scale(1.3);
    margin-right: 10px;
    transition: 0.3s;
}

.remove-friend {
    color: #c53a3a;
    transform: scale(1.3);
    margin-right: 10px;
    transition: 0.3s;
}

.add-friend:hover,
.remove-friend:hover {
    color: #073B4C;
}




.user-card p {
    font-size: 15px;
    transition: 0.6s;
}

/* Projects section */

/* Projects page and project cards */
.projects-page {
    min-height: 100vh;
    height: auto;
    background-color: #FFF;
    text-align: center;
    padding-top: 100px;
}

.projects-page h1 {
    font-size: 4rem;
    color: #2c1b07;
    font-weight: bold;
    margin-bottom: 20px;
}

.projects-page p {
    font-size: 1.3rem;
    margin-bottom: 60px;
    font-weight: lighter;
    text-align: center;
}

.projects-grid {
    padding: 20px;
    width: 90%;
    margin: 50px auto;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

.project-card-link{
    color: #222;
    text-decoration: none;
}
.project-card {
    width: 340px;
    height: 220px;
    max-height: auto;
    border: 1px solid #073B4C;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.project-card:hover {
    transition: 0.3s;
    transform: scale(101%);
    box-shadow: 1px 1px 5px 1px #073B4C;
}

.project-card h3 {
    color: #5d3911;
    font-weight: bold;
    font-size: 1.3rem;
}

.project-card h3,
p {
    text-align: left;
    padding: 10px;
}

.project-card p {
    font-size: 16px;
}

.project-card h6 {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}


.new-project {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-project button {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;

}

/* Pop up forms */

.pop-up {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.project-icon-group {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border: none;
    display: flex;
    justify-content: space-between;
    width: 70px;
}
.project-icon-group button{
    border: none;
    background-color: transparent;
    transform: scale(1.2);
}

.project-members form {
    width: 100%;
}


.project-members .user-card {
    transform: scale(0.8);
    width: 100%;
}

.project-members .add-friend,
.remove-friend {
    margin: 10px;
}

.project-members .user-card p {
    margin: 2px;
}

.trash,
.edit,
.user {
    color: #666;
    transition: 0.6s;
    cursor: pointer;
}

.trash:hover {
    transition: 0.6s;
    color: #d9655a;
    animation: shake 0.7s;
}

.edit:hover {
    transition: 0.6s;
    color: #5ed95a;
    animation: beat 0.7s;
}
.user:hover{
    transition: 0.6s;
    color: #e49e4e;
    animation: beat 0.7s;
}

/* Main boards section */

.main {
    height: 100vh;
}


.main-body {
    height: 85%;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    overflow-x: auto;
}



/* Category */


.category {
    min-height: 300px;
    height: auto;
    background-color: #F9F9F9;
    box-shadow: 1px 1px 1px 1px #CCC;
    width: 280px;
    border-radius: 5px;
    margin: 0px 10px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;

}

.cards-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.category-header {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category h3 {
    color: #984447;
    padding: 5px;
    font-size: 14px;
}





/* Task Cards */
.task-card {
    background-color: #ffffff;
    box-shadow: 1px 1px 0px 1px #CCC;
    width: 90%;
    border-radius: 10px;
    min-height: 50px;
    padding: 10px;
    margin: 5px auto;
    transition: 0.3s;
    cursor: pointer;
}

.task-card:hover {
    background-color: #EEE;
    box-shadow: 1px 1px 0px 1px #AAA;

}

.task-card h4 {
    color: #2c1b07;
    font-size: 13px;
}

.task-card p {
    font-size: 15px;
    transition: 0.6s;
}


.task-assigned-user {
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FFF;
    font-weight: bold;
    border-radius: 50px;
}

.task-card input {
    transform: scale(1.1);
    margin-left: 10px;
}


.task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}



/* Custom scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #BBB;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #AAA;


}


/* For Responsiveness */

@media (max-width: 1200px) {

    .projects-grid {
        grid-template-columns: auto auto;
    }
}


@media (max-width: 750px) {

    .logo {
        margin-left: 0px;
        width: 60px;
    }

    nav ul {
        margin-left: 1%;
    }

    nav ul li a {
        font-size: 13px;
        margin: 3px
    }

    .logout-button {
        font-size: 13px;
    }

    .user-card {
        width: 70%;
        flex-direction: column;
        align-items: normal;
    }

    .add-friend,
    .remove-friend {
        margin: 5px 0px 5px 90%;
    }

    .user-card p {
        margin: 2px;
    }

    .projects-grid {
        grid-template-columns: auto;
    }

}

@media (max-width: 350px) {
    .projects-grid {
        transform: scale(0.7);
    }
}



/* Animations */


@keyframes shake {
    10% {
        transform: rotate(-20deg);
    }

    40% {
        transform: rotate(20deg);
    }

    70% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


@keyframes beat {
    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}